body {
    background-color: rgb(234, 229, 220);
}
h2 {
    color:rgb(94, 47, 47);
    font-size: 28px;
    font-family: Geneva;
    font-style: calc(0.4);
}

p {
    color:rgb(226, 97, 119);
    font-size: 36px;
    font-family: fantasy;
    text-align: center;
}
.htmlCode {
    background-color: black;
    font-size: 25px;
    color: blanchedalmond;
}

.cssCode {
    background-color:black ;
    color: blanchedalmond;
    font-size: 25px;


    }
a {
    background-color: black;
    text-decoration: none;
    color:blanchedalmond;
    font-size: 20px;

    }
a:hover {
    color:yellowgreen;
        
    }
    