body{
    background-color: greenyellow;
}

p {
    color:rgb(226, 97, 119);
    font-size: 36px;
    font-family: fantasy;
    text-align: center;
}
#secondParaghraph {
    background-color: black;
}

.commonParagraph {
        text-decoration: underline;
        font-size: 24px;
        text-align: left;

    }
